/*-------------------- GOOGLE FONTS --------------------*/
/* */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

/*-------------------- VARIABLES CSS --------------------*/
:root {
    --header-height: 3rem ;

    /*---------- Colors ----------*/
    /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    --hue-color: 230; 

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%) ;
    --first-color-second:hsl(var(--hue-color), 69%, 61%) ;
    --first-color-alt:hsl(var(--hue-color), 57%, 53%) ;
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%) ;
    --title-color: hsl(var(--hue-color), 8%, 15%) ;
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%) ;
    --input-color: hsl(var(--hue-color), 70%, 61%) ;
    --body-color: hsl(var(--hue-color), 60%, 99%) ;
    --container-color: #FFF ;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%) ;
    --scroll-tumb-color: hsl(var(--hue-color), 12%, 80%) ;

    /*---------- fonte e tipografia ----------*/
    --body-font:'Raleway', cursive;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px, 2rem = 32px */
    --big-font-size: 2rem ;
    --h1-font-size: 1.5rem ;
    --h2-font-size: 1.25rem ;
    --h3-font-size: 1.125rem ;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --tosmall-font-size: .735rem;
    --smaller-font-size: .75rem;

    /*---------- Font weight ----------*/
    --font-medium: 500 ;
    --font-semi-bold: 600 ;

    /*---------- margins dos botoes ----------*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem ;
    --mb-0-5:  .5rem;
    --mb-0-75: .75rem;
    --mb-1:  1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*---------- z index ----------*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 100;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*---------- variaveis do tema dark ----------*/
body.dark-theme
{
    /* HSL color mode */
    --first-color-second:hsl(var(--hue-color), 30%, 8%) ;
    --title-color: hsl(var(--hue-color), 8%, 95%) ;
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%) ;
    --body-color: hsl(var(--hue-color), 28%, 12%) ;
    --container-color:hsl(var(--hue-color), 29%, 16%) ;
}

/*---------- botao Dark/Light ----------*/
.nav__btns
{
    display: flex;
    align-items: center;
}

.change-theme
{
    font-size: 1.25rem;
    color: var(--text-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover
{
    color: var(--first-color);
}

/*-------------------- BASE --------------------*/
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4
{
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

img
{
    max-width: 100%;
    height: auto;
}


/*-------------------- REUSABLE CSS CLASSES --------------------*/
.section
{
    padding: 2rem 0 4rem;  /* tirar a barra de mover para baixo o riginal 2rem 0 4rem */
}

.section__title
{
    font-size: var(--h1-font-size);
}

.section__subtitle
{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle
{
    text-align: center;
}

/*-------------------- LAYOUT --------------------*/
.container
{
    /* orignal 768px */
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid
{
    display: grid;
    gap: 1.5rem;
}

.header
{
    width: 100%; 
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/*-------------------- NAV --------------------*/

.nav
{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle
{
    color: var(--text-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover
{
    color: var(--first-color);
}

.nav__toggle
{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover
{
    color: var(--first-color);
}

@media screen and (max-width: 769px) {
    .nav__menu{
        position: fixed;
        bottom: -100%; /* faz com que o menu dessapareça valor original 0*/
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1rem 4px rgba(0,0,0,.15);   /* ajeitar o box shadow ficou alto */
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
        
    }
}

.nav__list
{
    grid-template-columns: repeat(3,1fr); /* ve o que essa parte faz */
    gap: 2rem;
}

.nav__link
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover
{
    color: var(--first-color);
}

.nav__icon
{
    font-size: 1.2rem;
}

.nav__close
{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover
{
    color: var(--first-color-alt);
}

/* show menu */
.show-menu  /* aparece o menu*/
{
    bottom: 0;
}

/* Active link */
.active-link
{
    color: var(--first-color);
}

/* Change background header */
.scroll-header
{
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
}

/*-------------------- HOME --------------------*/
.home__container
{
    gap: 1rem;
}

.home__content
{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

 .home__social
{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon
{
    font-size: 1.25rem;
    color: var(--first-color);
}

.home__social-icon:hover
{
    color: var(--first-color-alt);
}

.home__blob
{
    /* width: 200px; */
    width: 170px;
    /* fill: var(--first-color); */
    /* fill: #1101b4; */
}

.home__blob-img
{
    /* width: 170px;  */
    width: 220px; 
}

.home__data
{
    grid-column: 1/3;
} 

.home__title
{
    font-size: var(--big-font-size);
}

.home__subtitle
{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description
{
    margin-bottom: var(--mb-2);
}

/* faz desaparecer o botao scrool down */
.home__scroll 
{
    display: none;
}

.home__scroll-button
{
    color: var(--first-color);
    transition: .3s;
}

.home__scroll-button:hover
{
    transform: translateY(.25rem);
}

.home__scroll-mouse
{
    font-size: 2rem;
}

.home__scroll-name
{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow
{
    font-size: 1.25rem;
}
/*-------------------- BOTOES --------------------*/
.button
{
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover
{
    background-color: var(--first-color-alt);
}

.button__icon
{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5) ;
    transition: .3s;
}

.button--flex
{
    display: inline-flex;
    align-items: center;
}

/*-------------------- SOBRE --------------------*/
.about__img
{
    width: 200px;
    
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about__description
{
    text-align: center;
    margin-bottom: var(--mb-2-5);
    text-align: justify;
}

.about__info
{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about__info-title
{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.about__info-name
{
    font-size: var(--small-font-size);
}

.about__info-title,
.about__info-name
{  
    display: block;
    text-align: center;
}

.about__buttons
{
    display: flex;
    justify-content: center;
}

/*-------------------- SKILLS --------------------*/
.skills__container
{
    row-gap: 0;
}

.skills__header
{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skills__icon,
.skills__arrow
{
    font-size: 2rem;
    color: var(--first-color);
}

.skills__icon
{
    margin-right: var(--mb-0-75);
}

.skills__title
{
    font-size: var(--h3-font-size);
}

.skills__subtitle
{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills__arrow
{
    margin-left: auto;
    transform: .4s;
}

.skills__list
{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.skills__titles
{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills__name
{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

/* fazendo a barra  */
.skills__bar,
.skills__percentage 
{
    height: 5px;
    border-radius: .25rem;
}

.skills__bar
{
    background-color: var(--first-color-lighter);
}

.skills__percentage
{
    display: block;
    background-color: var(--first-color);
}

.skills__html
{
    width: 90%;
}
.skills__css
{
    width: 80%;
}
.skills__js
{
    width: 50%;
}
.skills__vue
{
    width: 60%;
}
.skills__bootstrap
{
    width: 85%;
}

.skills__node
{
    width: 55%;
}
.skills__python
{
    width: 85%;
}
/* javascript ja tem entao n 
precisa colocar de novo */

/* python ja tem entao n 
precisa colocar de novo */
.skills__R
{
    width: 70%;
}

.skills__close .skills__list
{
    height: 0;
    overflow: hidden;
}

.skills__open .skills__list
{
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow
{
    transform: rotate(-180deg);
}

/*-------------------- SERVIÇOS --------------------*/

/* Active Modal */

/*-------------------- PORTFOLIO --------------------*/
.portfolio__container
{
    overflow: initial;
}

.portfolio__content
{
    padding: 0 1.5rem;
}

.portfolio__img
{
    /* width: 265px; n tem o height */
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
}

.portfolio__title
{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.portfolio__description
{
    margin-bottom: var(--mb-0-75);
}

.portfolio__warning
{
    /* margin-bottom: 1rem; */
    margin-top: 10px;
    font-size: var(--smaller-font-size);
    color: red;
}

.portfolio__button:hover .button__icon
{
    transform: translateX(.25rem);
}

.swiper-button-prev::after,
.swiper-button-next::after
{
    content: '';
}

.swiper-portfolio-icon
{
    font-size: 2rem;
    color: var(--first-color);
}

.swiper-button-prev
{
    left: -.5rem;
}

.swiper-button-next
{
    right: -.5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets
{
    bottom: -2.5rem;
}

.swiper-pagination-bullets-active
{
    background-color: var(--first-color);
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullets
{
    outline: none;
}

/*-------------------- CONTACT ME --------------------*/
.contact__container
{
    row-gap: 3rem;
}

.contact__information
{
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact__icon
{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact__title
{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact__subtitle
{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
/*-------------------- FOOTER --------------------*/
.footer
{
    padding-top: 2rem;
}

.footer__container
{
    row-gap: 3.5rem;
}

.footer__bg
{
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
}

.footer__title
{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer__subtitle
{
    font-size: var(--small-font-size);
}

.footer__links
{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer__link:hover
{
    color: var(--first-color-lighter);
}

.footer__social
{
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.footer__social:hover
{
    color: var(--first-color-lighter);
}

.footer__copy
{
    font-size: var(--small-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social
{
    color: #fff;
}

/*---------- SCROLL UP ----------*/
.scrollup
{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover
{
    background-color: var(--first-color-alt);
}

.scrollup__icon
{
    font-size: 1.5rem;
    color: #fff;
}

/* Show scroll */
.show-scroll
{
    bottom: 5rem;
}

/*---------- SCROLL BAR ----------*/
::-webkit-scrollbar
{
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb
{
    background-color: var(--scroll-tumb-color);
    border-radius: .5rem;
}

/*-------------------- MEDIA QUERIES --------------------*/
/* Para dispositivos pequenos */
@media screen and (max-width: 350px)
{
    .container
    {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav__menu
    {
        padding: 2rem .25rem 4rem;
    }    

    .nav__list
    {
        column-gap: 0;
    }

    .home__content
    {
        grid-template-columns: .25fr 3fr;
    }

    .home__blob
    {
        width: 180px;
    }

    .skills__title
    {
        font-size: var(--normal-font-size);
    }

    .qualification__data
    {
        gap: .5rem;
    }
}
/* Para dispositivos médios */
@media screen and (min-width: 568px) {
    .home__content
    {
        grid-template-columns: max-content 1fr 1fr;
    }

    .home__data
    {
        grid-column: initial;
    }

    .home__img
    {
        order: 1;
        justify-self: center;
    }

    .about__container,
    .skills__container,
    .portfolio__content,
    .footer__container
    {
        grid-template-columns: repeat(2,1fr);
    }

    .qualification__sections
    {
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) 
{
    .container
    {
        margin-left: auto;
        margin-right: auto;
    }

    body
    {
        margin: 0;
    }

    .section
    {
        padding: 6rem 0 2rem;
    }
    .section__subtitle
    {
        margin-bottom: 4rem;
    }

    .header
    {
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer__container
    {
        padding: 0 1rem;
    }

    .nav
    {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle
    {
        display: none;
    }

    .nav__list
    {
        display: flex;
        column-gap: 2rem;
    }

    .nav__link
    {
        color: var(--text-color);
    }

    .nav__menu
    {
        margin-left: auto;
    }

    .change-theme
    {
        margin: 0;
    }

    .home__container
    {
        row-gap: 5rem;
    }

    .home__content
    {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home__blob
    {
        width: 270px; 
    }

    .home__scroll
    {
        display: block;
    }

    .home__scroll-button
    {
        margin-left: 3rem;
    }

    .about__container
    {
        column-gap: 5rem;
    }

    .about__img
    {
        width: 250px;
        height: 300px;
        /* width: 250px;
        height: 300px; */
    }

    .about__description
    {
        text-align: initial;
        text-align: justify;
    }

    .about__info
    {
        justify-content: space-between;
    }

    .about__buttons
    {
        justify-content: initial;
    }

    .qualification__tabs
    {
        justify-content: center;
    }

    .qualification__button
    {
        margin: 0 var(--mb-1);
    }

    .qualification__sections
    {
        grid-template-columns: .5fr;
    }

    .portfolio__img
    {
        width: 320px;
        height: 180px;
    }

    .portfolio__content
    {
        align-items: center;
    }

    .footer__container
    {
        grid-template-columns: repeat(3,1fr);
    }

    .footer__links
    {
        margin-left: 4.5rem;
    }

    .footer__socials
    {
        display: grid;
        grid-template-columns: max-content;
        row-gap: 1rem;
        margin-left: 3.5rem ;
    }

}
/* Para dispositivos grandes */
@media screen and (min-width: 1024px)
{
    .header,
    .main,
    .footer__container
    {
        padding: 0;
    }

    .home__blob
    {
        width: 320px;
    }

    .home__social
    {
        transform: translateX(-6rem);
    }

    .nav__link
    {
        font-size: 1.2rem;
        color: var(--text-color);
    }

    .nav__logo
    {
        font-size: 18px;
    }

    .portfolio__content
    {
        column-gap: 5rem;
    }
    
    .swiper-portfolio-icon
    {
        font-size: 3.5rem;
    }

    .swiper-button-prev
    {
        left: -3.5rem;
    }

    .swiper-button-next
    {
        right: -3.5rem;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets
    {
        bottom: -4.5rem;
    }
}


